.App {
  text-align: center;
}
.nav-bar{
  background-color: rgb(208, 96, 76);
  text-align: start;
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
}
.nav-item{
  color: white;
  background-color:  rgb(46, 57, 64);
  border-radius: 3rem;
  padding: 0.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.nav-item:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 500ms;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
